@model SKC.API.Models.CityModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CityModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAtUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAtUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAtUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAtUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
