@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li role="presentation" class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> @User.Identity.GetUserName() <span class="caret"></span> </a>

                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Index", "Manage")" id="manageLink" title="Manage">

                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Manage
                        </a>
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span>Log off</a></li>
                </ul>
            </li>

        </ul>
    }
}
else
{
    <section style="margin:0 2em;">
        <div class="col-lg-12 text-center">
            <div style="background:#ddd; padding:20px; margin-bottom:40px;">
                <h2 style="margin-top:0; margin-bottom:20px;">Login</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Login</li>
                </ol>
            </div>
        </div>
    </section>
    
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Login", "Account")" id="loginLink" class="btn btn-sm">
                Log in
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            </a>
        </li>
        <li role="presentation" class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-sm" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-random"></span> Register <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action("Register", "Account")" id="registerLink" class="btn btn-sm">
                        <span class="glyphicon glyphicon-home"></span>  As School
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("RegisterParent", "Account")" id="registerLink" class="btn btn-sm">
                        <span class="glyphicon glyphicon-user"></span>  As Parent
                    </a>
                </li>
            </ul>

        </li>

    </ul>
}
