@model SuperKidCity.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="jumbotron">
    <fieldset>
        <legend>
            <h2 class="text text-capitalize">@ViewBag.Title.</h2>
        </legend>
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 class="text text-capitalize">Change Password Form</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger text text-capitalize" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label text text-capitalize" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label text text-capitalize" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label text text-capitalize" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change password" class="btn btn-default" />
                </div>
            </div>
        }
    </fieldset>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}