@model IEnumerable<SKC.Lib.Data.Models.Entities.SchoolDTO>

@{
    ViewBag.Title = "List-Schools";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sm btn-primary" })
</p>
<div class="col-md-12">
    <div class="table-responsive table-striped table-condensed table-hover">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstablishedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WebUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortBio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Deleted)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.SessionId)
                    </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                    </td>
                    <td>
                        <label> @item.EstablishedAt.ToString("M-yyyy")</label>
                    </td>
                    <td>
                        @Html.ActionLink(item.WebUrl, item.WebUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortBio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deleted)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.SessionId)
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


