@model IEnumerable<SuperKidCity.Models.FacilityGroupViewModel>

@{
    ViewBag.Title = "Facility";
}
<br />
<br />
@if (!ViewBag.Success)
{
    <p class="text-capitalize text-center text-danger">
        @ViewBag.Msg
    </p>
}
else
{
    <fieldset>
        <legend class="text-capitalize text-center">
            <div class="row">
                <div class="col-md-2 pull-right">
                    @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-sm btn-default" })
                </div>
                <div class="col-md-2 pull-left">
                    Facility Groups
                </div>
            </div>
        </legend>

    </fieldset>


    <table class="table table-condensed panel panel-primary">
        <thead class="panel-heading">
            <tr>
                <th class="text-capitalize text-center">
                    @Html.DisplayNameFor(model => model.GroupName)
                </th>
                <th class="text-capitalize text-center">
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th class="text-capitalize text-center">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th class="text-capitalize text-center">
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th>

                </th>
            </tr>

        </thead>
        <tbody class="panel-body">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-capitalize text-center">
                        @Html.DisplayFor(modelItem => item.GroupName)
                    </td>


                    <td class="text-capitalize text-center">
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td class="text-capitalize text-center">
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td class="text-capitalize text-center">
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>

                    <td class="col-md-4">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="5">
                    <p class="text-capitalize text-left">
                        <i class="glyphicon glyphicon-info-sign"></i> @Model.ToList().Count Records
                    </p>
                </td>
            </tr>
        </tfoot>

    </table>
}
